input {
    display: block;
    margin-bottom: 12px;
    padding: 0;
}
.firstInput {
    border: solid 1px black;
    width: 25%;
    background-color: rgb(207, 187, 225);
}
::placeholder{
    background-color: rgb(188, 241, 232);
}
.secondInput {
    width: 25%;
    background-color: rgb(174, 241, 186);
}
.container {
    display: flex;
    justify-content: space-around;
}

span {
    margin: 8px;
}
select {
    width: 90%;
}
button {
    margin: 5px;
    padding: 5px;
}

