input {
    display: flex;
    margin-bottom: 12px;
    padding: 0;

}
.login-input{
    background: rgba(150, 250, 219, 0.982);
    transition: background 0.5s ease-out;
}
.login-input:focus {
    background:rgba(239, 136, 157, 0.845) ;
}
/*::placeholder{
    background-color: rgb(188, 241, 232);
}*/
.secondInput {
    display: flex;
    align-items: center;
    background-color: rgb(174, 241, 186);
    padding: 5px;
    border: solid 1px black;
    width: 100%;
    flex-direction: column;

}
.container {
    display: flex;
    justify-content: center;
}

span {
    margin: 8px;
    font-family: "Lobster";
}
select {
    width: 100%;
    background-color: rgb(188, 241, 232);
}
button {
    margin: 5px;
    padding: 5px;
    transition: all 0.5s ease-out;
}
.button-style:hover,
.button-style:focus {
background: rgb(237, 141, 141);
transform: scale(1.15);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.ball {
    position: relative;
    width: 27px;
    height: 27px;
    bottom: 0%;
    left: 0;
    animation: fly 2s;
    animation-iteration-count: infinite;
}

@keyframes fly {
   0% {
     left: -45%;
    }
    10% {
        left: -35%;
        bottom: 20% ;
    }
    20% {
        left: -20%;
        bottom: 0%;
    }
    30% {
        left: -10%;
        bottom: 10% ;
    }
    40% {
        left: 0%;
        bottom: 0%; 
    }
    50% {
        left: 10%;
        bottom: 5% ;
    }
    60% {
        left: 20%;
        bottom: 0%; 
    }
    100% {
     left: 45%;
    }
}

@media only screen and (min-width: 540px) {
    select {
        width: 30%;
        margin-left: 6px;
       
    }
    input {
        display:inline;
       
    }
    span {
        text-align: start;
    }
    form {
        text-align: start;
    }
    button {
        background-color: rgba(183, 183, 245, 0.509);
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    form {
        flex-direction: row;
    }
    select {
        border-radius: 8px;
        width: 130px;
        background-color: white;
    }
    ::placeholder{
        
        padding: 3px;
    }
   input {
    border-radius: 7px;
   }
}